*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Source Sans Pro'
    color: var(--main-dark-color)

body 
    overflow-x: hidden
    height: 100%

ul, ol 
    list-style: none 

a 
    text-decoration: none 

input, button
    border: none 
    outline: none

.wrapper
    // position: fixed
    // overflow-y: auto
    width: 100%
    min-height: 100vh
    top: 0
    left: 0
    +flex(column, center, center)

    & > div
        height: 100%
        +flex(column, center, center)

        & > div
            margin: 50px auto